/* Indie Flower Font */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(#638a39, #92bce4);
    font-family: 'Indie Flower', cursive;
}

header {
    font-size: 1.6rem;
    text-align: center;
    margin: 60px 0 20px 0;
}

h1 span {
    color: rgb(247, 213, 213);
    letter-spacing: 4px;
}

#intro-section {
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#intro-form label {
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
}

#intro-form select, #intro-form input {
    width: 80%;
    text-align: center;
    padding: 5px 10px;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    font-size: 1.1rem;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
}

#intro-form select {
    background-color: #638a39;
}

#intro-form input {
    background-color: transparent;
    border-style: none;
    border: solid #080d03 2px;
}

.start {
    border-style: none;
    padding: 10px 30px;
    border-radius: 5px;
    background-color: rgb(190, 255, 233);
    box-shadow: 0 1px 10px grey;
    transition: ease-in-out 0.4s;
}

.start:hover {
    cursor: pointer;
    transform: scale(1.1);
}

main {
    display: none;
}